.startBlock{
    background-color: #F7D9BC;
}
.startContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    width: 55%;
    font-size: 35px;
    color: #AB3F43;
    margin: auto;
}
.header{
    font-weight: bold;
    padding-bottom: 100px;
}
.myName{
    line-height: 2;
    font-weight: bold;
}
.aboutMe{
    font-size: 20px;
    padding: 30px 10px 0;
    min-width: 50%;
    margin: auto;
}
.icons {
    padding-top: 50px;
    display: flex;
    margin: auto;
}
.icon:first-child{
    margin-right: 20px;
}
.icon{
    cursor: pointer;
    transition: 0.15s all;
}
.icon:hover{
    transform: scale(1.05);
}
.photo{
    width: 45%;
    padding: 20px 5px;
    margin: auto;
}
@media all and (max-width: 1200px){
    .startContainer{
        display: block;
    }
    .header{
        padding-bottom: 50px;
    }
    .info{
        width: 100%;
    }
    .photo{
        width: 100%;
    }
}
@media all and (max-width: 600px){
    .header{
        line-height: 1.5;
        font-size: 20px;
    }
    .myName{
        line-height: 1.5;
    }
}