.myServices{
    background-color: #F7D9BC;
}
.myServicesHeader{
    color: #AB3F43;
    font-size: 35px;
    font-weight: bold;
    padding-top: 50px;
}
.myServicesContainer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto 0;
    padding-bottom: 40px;
}
.myService{
    width: 30%;
    margin: 40px 0;
}

.cardImg{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.cardPic{
    width: 100%;
    transition: 0.15s all;
}

.cardTitle{
    width: 90%;
    border: 1px solid #AB3F43;
    padding: 20px 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #A52A2A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
.cardTitleBack{
    width: 95%;
    border: 1px solid #AB3F43;
    padding: 20px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #A52A2A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
.buttonStyle{
    cursor: pointer;
    padding-top: 10px;
}

@media all  and (max-width: 1400px){
    .cardTitleBack{
        font-size: 14px;
        line-height: 17px;
    }

}

@media all  and (max-width: 1250px){
    .myServicesContainer{
        width: 70%;
    }
    .myService{
        width: 45%;
    }
    .cardTitleBack{
        font-size: 15px;
        line-height: 17px;
    }
}
@media all  and (max-width: 1000px){
    .myServicesContainer{
        width: 90%
    }
}
@media all  and (max-width: 750px){
    .myServicesContainer{
        width: 100%
    }
    .myService{
        width: 60%;
        margin: auto;
        padding-bottom: 20px;
    }
}
@media all  and (max-width: 510px){
    .myService{
        width: 90%;
    }
    .cardTitleBack{
        font-size: 16px;
        line-height: 20px;
    }
}