.reviesBox{
    background-color: #AB3F43;
}
.myReviewsHeader{
    color: #F7D9BC;
    font-size: 35px;
    font-weight: bold;
    padding-top: 50px;
}

.carousel{
    width: 100%;
    margin: auto;
    padding: 40px 20px;
}
.reviewsImg{
    width: 300px;
    padding: 0 10px;
}

@media all and (max-width: 500px){
    .carousel{
        padding: 40px 5px;
    }
    .reviewsImg{
        width: 250px;
    }
}
